In [3]:
# Дано двузначное число. Определить является ли сумма его цифр двузначным числом. 
a = int(input('enter two-digit number'))

result_number = (a//10) + (a%10)
result = (result_number > 9) and (result_number < 100)
result

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Дано двузначное число. Определить кратна ли трем сумма его цифр. 
a = int(input('enter two-digit number'))

result = True if not a%3 else False
result

True

In [ ]:
# Дано трехзначное число. Выяснить, является ли оно палиндромом
# («перевертышем»), т. е. таким числом, десятичная запись которого читается
# одинаково слева направо и справа налево. 
a = input('enter three-digit number')
a == a[::-1]

False

In [ ]:
# Робот может перемещаться в четырех направлениях ("С" – север, "З" –
# запад, "Ю" – юг, "В" – восток) и принимать три цифровые команды: 0 – продолжать движение, 1 – поворот налево, –1 – поворот направо. Дан символ C –
# исходное направление робота и число N – посланная ему команда. Вывести направление робота после выполнения полученной команды. 

cycle = ['C', 'V', 'YU', 'Z']
C = 'C'
pointer = cycle.index(C)
print(pointer)

N = input('enter command like 000-111000-1') or '-1-1-1-1-1'
lst = []

while len(N):
    
    if N[0] == '-': 
        lst.append(N[:2])
        N = N[2:]
    else: 
        lst.append(N[0])
        N = N[1:]
       
print(lst)

for i in lst:
    if i == '1': 
        if pointer == 0: 
            pointer = 3
        else: pointer -= 1
    elif i == '-1': 
        if pointer == 3: pointer = 0
        else: pointer += 1
    
'''if (pointer+1) > 4: 
    pointer %= 4
    pointer -= 1'''
    
cycle[pointer]

0
['-1', '-1', '-1', '-1', '-1']

'V'

In [ ]:
'' or 'oops'

'oops'

In [ ]:
name = 'lobzik'
surname = 'shwabs'

f'his name sounded like {name:3s}'

'his name sounded like lobzik'

In [ ]:
import pandas as pd

s = pd.Series(
    {1: 1},
    index=['a', 1],
    name='series_s'
)

s

a    NaN
1    1.0
Name: series_s, dtype: float64

In [ ]:
s.shape[0]

2

In [ ]:
s.info()

<class 'pandas.core.series.Series'>
Index: 2 entries, a to 1
Series name: series_s
Non-Null Count  Dtype
--------------  -----
1 non-null      float64
dtypes: float64(1)
memory usage: 140.0+ bytes

In [ ]:
s.describe()

count    1.0
mean     1.0
std      NaN
min      1.0
25%      1.0
50%      1.0
75%      1.0
max      1.0
Name: series_s, dtype: float64

In [ ]:
s = s.astype('string')

In [ ]:
s

a    <NA>
1     1.0
Name: series_s, dtype: string

In [ ]:
df = pd.DataFrame(
    data=pd.array([1,2,3,4,5,6]).reshape(2,3),
    index=['a', 'b'],
    columns=['c1', 'c2', 'c3']
)

df

   c1  c2  c3
a   1   2   3
b   4   5   6

In [ ]:
df['c2'][df['c2'] > 2]

# или df[df['c2'] > 2]['c2']

b    5
Name: c2, dtype: Int64

In [ ]:
pd.array([1,2,3,4,5,6]).reshape(2,3)

<IntegerArray>
[
[1, 2, 3],
[4, 5, 6]
]
Shape: (2, 3), dtype: Int64

In [ ]:
df.describe().loc[['count', 'mean'], ['c1', 'c2']]

        c1   c2
count  2.0  2.0
mean   2.5  3.5

In [ ]:
s.value_counts()
df['c1'].value_counts(1)

1    0.5
4    0.5
Name: c1, dtype: Float64

In [ ]:
s = pd.Series(
    data=range(10),
    index=list('abcdefghij'),
    name='digits'
)

s

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
Name: digits, dtype: int64

In [ ]:
s[s > 5]

g    6
h    7
i    8
j    9
Name: digits, dtype: int64