In [1]:
import pandas as pd

In [2]:
tripdata = pd.read_csv('data/citibike-tripdata.csv')

In [3]:
tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [11]:
len(tripdata) - tripdata['start station id'].count()

169

In [12]:
print(tripdata['starttime'].dtype, tripdata['stoptime'].dtype)

object object

In [14]:
tripdata['start station id'].value_counts().index[0]

281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: start station id, Length: 759, dtype: int64

In [15]:
tripdata['bikeid'].value_counts().index[0]

33887

In [16]:
tripdata['usertype'].value_counts(normalize=1)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [22]:
tripdata['gender'].value_counts().iloc[0]

183582

In [24]:
tripdata['start station id'].nunique() - tripdata['end station id'].nunique()

-6

In [26]:
2022 - tripdata['birth year'].max()

20

In [28]:
tripdata['start station name'].value_counts().index[-1]

'Eastern Pkwy & Washington Ave'

In [30]:
tripdata['end station name'].value_counts().index[0]

'West St & Chambers St'

In [32]:
tripdata.drop(['start station id', 'end station id'], axis=1, inplace=True)
tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [34]:
tripdata['age'] = tripdata['birth year'].apply(lambda x: 2018 - x)
tripdata.drop('birth year', axis=1, inplace=True)
tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [35]:
len(tripdata[tripdata['age'] > 60])

11837

In [38]:
tripdata['stoptime'] = pd.to_datetime(tripdata['stoptime'])
tripdata['starttime'] = pd.to_datetime(tripdata['starttime'])

In [49]:

tripdata['trip duration'] = tripdata['stoptime'] - tripdata['starttime']
tripdata['trip duration'].dt.seconds/60

0          27.250000
1           2.200000
2          55.616667
3           7.266667
4         140.950000
             ...
299995      7.383333
299996     11.550000
299997      5.200000
299998     56.000000
299999      3.750000
Name: trip duration, Length: 300000, dtype: float64

In [50]:
tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), int64(3), object(3), timedelta64[ns](1)
memory usage: 29.8+ MB

In [53]:
tripdata['weekday'] = tripdata['starttime'].dt.weekday
tripdata['weekday'] = tripdata['weekday'].apply(lambda x: 1 if (x == 5) or (x == 6) else 0)
tripdata['weekday'].value_counts()

0    184865
1    115135
Name: weekday, dtype: int64

In [55]:
tripdata['starttime'].dt.hour.value_counts()

17    29601
18    29099
16    23105
15    21108
14    20208
13    19891
12    19157
8     17807
19    17136
11    16821
9     15776
10    15007
20    11168
7     10962
21     7827
22     6035
6      5325
23     4207
0      3360
1      1977
5      1592
2      1299
3       793
4       739
Name: starttime, dtype: int64

поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

In [57]:
night = range(0, 7)
morning = range(7, 13)
day = range(13, 19)
evening = range(19, 24)

In [60]:
tripdata['time_of_day'] = tripdata['starttime'].dt.hour.apply(\
    lambda x: 'night' if x in night else \
    ('morning' if x in morning else \
        ('day' if x in day else \
            ('evening' if x in evening else None))))

In [63]:
tripdata['time_of_day'].value_counts()['day'] / tripdata['time_of_day'].value_counts()['night']

9.480411004308916