In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.5.2'

In [4]:
print(pd.__name__)

pandas

In [5]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries',
    dtype = object    
)

display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [6]:
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries',
    dtype = object
)
print(countries)

display(countries.loc['UK']) # доступ по ключу
display(countries.iloc[3]) # доступ по номеру

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

'Англия'

'Россия'

In [7]:
countries = pd.Series(
    ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан']
)
countries

0       Англия
1       Канада
2          США
3       Россия
4      Украина
5     Беларусь
6    Казахстан
dtype: object

In [8]:
display(countries.loc[1]) # доступ по ключу

'Канада'

In [9]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries',
    dtype = object    
)

print(countries.loc[['UK', 'UA']])

UK     Англия
UA    Украина
Name: countries, dtype: object

In [10]:
#  loc и iloc можно опустить и обращаться к элементам Series напрямую по индексам, например countries[[‘UK’, 'US', ‘UA’]] или countries[[0, 2, 4]]

print(countries['RU'])
print(countries[['BY', 'UA']])
print('\n')
print(countries[[0, 4, 2]])

Россия
BY    Беларусь
UA     Украина
Name: countries, dtype: object


UK     Англия
UA    Украина
US        США
Name: countries, dtype: object

In [11]:
def create_medications(names, counts):
    return pd.Series(data=counts, index=names, name='medications')

def get_percent(medications, name):
    return medications[name]*100 / sum(medications[:])

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)
get_percent(medications, "chlorhexidine")

37.5

In [12]:
medications = create_medications(names, counts)
medications

chlorhexidine    15
cyntomycin       18
afobazol          7
Name: medications, dtype: int64

In [13]:
sum(medications[:])

40

In [14]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [15]:
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
countries_df

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [16]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902],
    ],
    columns = ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)

countries_df

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [17]:
countries_df.mean(axis=0)

C:\Users\Питерские котики\AppData\Local\Temp\ipykernel_37256\1904880919.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  countries_df.mean(axis=0)

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [18]:
countries_df.mean(axis=1)

C:\Users\Питерские котики\AppData\Local\Temp\ipykernel_37256\555943002.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=1)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

In [19]:
# доступ к столбцу, способ 1
# возможно только тогда, когда имя столбца указано без пробелов
countries_df.population

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [20]:
countries_df.index

Index(['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'], dtype='object')

In [21]:
# доступ к столбцу, способ 2

countries_df['country']

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: country, dtype: object

In [22]:
# при обращении к столбцу DataFrame мы получаем объект Series
type(countries_df.population)

pandas.core.series.Series

In [23]:
countries_df.loc['UK', 'population']

56.29

In [24]:
countries_df.loc['UK', ['square', 'population']]

square        133396
population     56.29
Name: UK, dtype: object

In [25]:
countries_df.loc[['UA', 'BY', 'KZ'], ['square', 'population']]

     square  population
UA   603628       45.50
BY   207600        9.50
KZ  2724902       17.04

In [26]:
countries_df.iloc[0, 0]

'Англия'

In [27]:
countries_df.iloc[4:, 1]

UA    45.50
BY     9.50
KZ    17.04
Name: population, dtype: float64

In [28]:
def create_companyDF(incomes, expenses, years):
    company = pd.DataFrame(
        {'Incomes': incomes,
        'Expenses': expenses},
        
        index = years
    )
    return company
    
incomes = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

company = create_companyDF(incomes, expenses, years)
company

      Incomes  Expenses
2018      478       156
2019      512       130
2020      196       270

In [29]:
def get_profit(df, year):
    if year in df.index:
        return df.loc[year, 'Incomes'] - df.loc[year, 'Expenses']
    else: return None
    
print(get_profit(company, 2019))

382

In [30]:
countries_df = pd.DataFrame({
     'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [31]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
countries_data

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [32]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [33]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
type(melb_data)

pandas.core.frame.DataFrame

In [34]:
melb_data.loc[15, 'Price']

1310000.0

In [35]:
melb_data.loc[90, 'Date']

'10/09/2016'

In [36]:
round(melb_data.loc[3521, 'Landsize']/melb_data.loc[1690, 'Landsize'], 0)

3.0

In [37]:
melb_data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

In [38]:
melb_data.tail(7)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
13573,13573,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26/08/2017,14.7,...,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0,"-37.89327, 144.64789"
13574,13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,...,2.0,256.0,126.0,1970.0,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0,"-37.67917, 144.8939"
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

In [39]:
# количество строк и столбцов
melb_data.shape

(13580, 23)

In [40]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

In [41]:
for mcol in ['Car', 'Bedroom', 'Bathroom', 'Propertycount', 'YearBuilt']:
    melb_data[mcol] = melb_data[mcol].astype('int64')
    
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [42]:
melb_data.describe().head()

,index,Rooms,Price,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000
mean,6789.500000,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.611856,558.416127,139.633972,1966.788218,-37.809203,144.995216,7454.417378
std,3920.352663,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.960793,3990.669241,392.217403,29.088642,0.079260,0.103916,4378.581772
min,0.000000,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,3394.750000,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,122.000000,1960.000000,-37.856822,144.929600,4380.000000

In [43]:
melb_data.describe().loc[:, ['Distance', 'BuildingArea', 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [44]:
melb_data.describe(include=['float64'])

,Price,Distance,Landsize,BuildingArea,Lattitude,Longtitude
count,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000
mean,1.075684e+06,10.137776,558.416127,139.633972,-37.809203,144.995216
std,6.393107e+05,5.868725,3990.669241,392.217403,0.079260,0.103916
min,8.500000e+04,0.000000,0.000000,0.000000,-38.182550,144.431810
25%,6.500000e+05,6.100000,177.000000,122.000000,-37.856822,144.929600
50%,9.030000e+05,9.200000,440.000000,126.000000,-37.802355,145.000100
75%,1.330000e+06,13.000000,651.000000,129.940000,-37.756400,145.058305
max,9.000000e+06,48.100000,433014.000000,44515.000000,-37.408530,145.526350

In [45]:
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [46]:
# результат представляется в виде доли (относительной частоты)

melb_data['Regionname'].value_counts()

Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64

In [47]:

melb_data['Regionname'].value_counts(normalize=True)

Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: Regionname, dtype: float64

In [48]:
print(melb_data['Coordinates'].dtype)

object

In [49]:
len(melb_data.index) - melb_data['CouncilArea'].count()

1369

In [50]:
melb_data.count()

index            13580
Suburb           13580
Address          13580
Rooms            13580
Type             13580
Price            13580
Method           13580
SellerG          13580
Date             13580
Distance         13580
Postcode         13580
Bedroom          13580
Bathroom         13580
Car              13580
Landsize         13580
BuildingArea     13580
YearBuilt        13580
CouncilArea      12211
Lattitude        13580
Longtitude       13580
Regionname       13580
Propertycount    13580
Coordinates      13580
dtype: int64

In [51]:
melb_data.describe().loc[:, ['Price', 'Distance', 'BuildingArea']]

              Price      Distance  BuildingArea
count  1.358000e+04  13580.000000  13580.000000
mean   1.075684e+06     10.137776    139.633972
std    6.393107e+05      5.868725    392.217403
min    8.500000e+04      0.000000      0.000000
25%    6.500000e+05      6.100000    122.000000
50%    9.030000e+05      9.200000    126.000000
75%    1.330000e+06     13.000000    129.940000
max    9.000000e+06     48.100000  44515.000000

In [52]:
melb_data['Price'].mean() / melb_data['Price'].median()

1.1912337535493698

In [53]:
melb_data['Coordinates'].value_counts().head()

-37.8361, 144.9966    12
-37.8035, 144.985      8
-37.8424, 144.9449     6
-37.8231, 144.9906     5
-37.8415, 144.9412     5
Name: Coordinates, dtype: int64

In [54]:
melb_data['Regionname'].describe()

count                     13580
unique                        8
top       Southern Metropolitan
freq                       4695
Name: Regionname, dtype: object

In [55]:
melb_data['Suburb'].describe()

count         13580
unique          314
top       Reservoir
freq            359
Name: Suburb, dtype: object

In [56]:
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [57]:
melb_data['Type'].value_counts(normalize=True)

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [58]:
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

МЕТОД	СТАТИСТИЧЕСКИЙ ПАРАМЕТР
.count()	Количество непустых значений
.mean()	Среднее значение
.min()	Минимальное значение
.max()	Максимальное значение
.var()	Дисперсия
.std()	Стандартное отклонение
.sum()	Сумма
.quantile(x)	Квантиль уровня x
.nunique()	Число уникальных значений

In [59]:
melb_data.loc[:, ['Landsize', 'Price', 'Type', 'Date']].std(numeric_only=True)

Landsize      3990.669241
Price       639310.724296
dtype: float64

In [60]:
melb_data.loc[:, ['Propertycount', 'CouncilArea']]
melb_data['Propertycount'].max()

21650

In [61]:
melb_data['Distance'].std()

5.868724943071711

In [62]:
abs(melb_data['BuildingArea'].median() - melb_data['BuildingArea'].mean())*100/melb_data['BuildingArea'].mean()

9.764079662364532

In [63]:
pd.Series(data=[1, 2, 4, 2, 3, 2, 1, 5, 6]).mode()

0    2
dtype: int64

In [64]:
melb_data['Bedroom'].mode()

0    3
Name: Bedroom, dtype: int64

In [65]:
a = melb_data['Bedroom']
type(a)

import numpy 
numpy.array([1, 2, 3]).shape

a = numpy.array([1, 2, 3, 4])
a.shape = (2, 2)
a

array([[1, 2],
       [3, 4]])

In [66]:
mask = melb_data['Price'] > 2000000
display(mask)

0        False
1        False
2        False
3        False
4        False
         ...
13575    False
13576    False
13577    False
13578     True
13579    False
Name: Price, Length: 13580, dtype: bool

In [67]:
print(melb_data[mask].head())
type(melb_data[mask].head())

    index       Suburb               Address  Rooms Type      Price Method  \
80     80  Albert Park  112 Beaconsfield Pde      3    h  2850000.0     PI
85     85  Albert Park     104 Richardson St      4    h  2300000.0      S
88     88  Albert Park        29 Faussett St      2    h  2120000.0      S
92     92  Albert Park           2 Dundas Pl      3    h  2615000.0      S
93     93  Albert Park          23 Finlay St      5    h  2100000.0      S

     SellerG        Date  Distance  ...  Car  Landsize  BuildingArea  \
80    Buxton   4/03/2017       3.3  ...    0     211.0         198.0
85  Marshall   7/05/2016       3.3  ...    1     153.0         180.0
88      Greg  10/09/2016       3.3  ...    1     199.0         107.0
92    Cayzer  10/12/2016       3.3  ...    1     177.0         181.0
93      Greg  10/12/2016       3.3  ...    1     237.0         126.0

    YearBuilt   CouncilArea  Lattitude  Longtitude             Regionname  \
80       1890  Port Phillip   -37.8481    144.9499  Southern Metropolitan
85       1880  Port Phillip   -37.8447    144.9523  Southern Metropolitan
88       1900  Port Phillip   -37.8422    144.9554  Southern Metropolitan
92       1880  Port Phillip   -37.8415    144.9585  Southern Metropolitan
93       1970  Port Phillip   -37.8436    144.9557  Southern Metropolitan

    Propertycount         Coordinates
80           3280  -37.8481, 144.9499
85           3280  -37.8447, 144.9523
88           3280  -37.8422, 144.9554
92           3280  -37.8415, 144.9585
93           3280  -37.8436, 144.9557

[5 rows x 23 columns]

pandas.core.frame.DataFrame

In [68]:
melb_data[melb_data['Rooms'] == 3].head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
6,6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,...,0,245.0,210.0,1910,Yarra,-37.8024,144.9993,Northern Metropolitan,4019,"-37.8024, 144.9993"
11,11,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12/11/2016,2.5,...,2,214.0,190.0,2005,Yarra,-37.8085,144.9964,Northern Metropolitan,4019,"-37.8085, 144.9964"
16,16,Abbotsford,42 Henry St,3,h,1200000.0,S,Jellis,16/07/2016,2.5,...,1,113.0,110.0,1880,Yarra,-37.8056,144.9930,Northern Metropolitan,4019,"-37.8056, 144.993"

In [69]:
# количество строк после фильтра
melb_data[melb_data['Rooms'] == 3].shape[0]

5881

In [70]:
melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]

3

In [71]:
melb_data[(melb_data['Price'] < 300000) & ((melb_data['BuildingArea'] > 100) | (melb_data['Rooms'] == 3))].shape[0]

68

In [75]:
# максимальное количество комнат в таунхаусах
melb_data[melb_data['Type'] == 't']['Rooms'].max()

5

In [77]:
melb_data[melb_data['Price'] > melb_data['Price'].mean()]['BuildingArea'].median()

126.0

In [79]:
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [81]:
melb_data[(melb_data['Price'] > 3000000) & (melb_data['SellerG'] == 'Nelson')].shape[0]

5

In [82]:
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

In [83]:
melb_data[(melb_data['Price'] < 1000000) & ((melb_data['YearBuilt'] > 2015) | (melb_data['Rooms'] > 5))]['Price'].mean()

769238.6363636364

In [91]:
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].value_counts()

Northern Metropolitan         2737
Southern Metropolitan         2520
Western Metropolitan          2286
Eastern Metropolitan          1167
South-Eastern Metropolitan     387
Eastern Victoria                50
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64