In [2]:
import pandas as pd

In [3]:
students_data = pd.read_csv('data/students_performance.csv', sep=',')
students_data.head(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88

In [4]:
students_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [5]:
students_data.loc[155, 'writing score']

88

In [6]:
students_data['math score'].mean()

66.089

In [7]:
students_data['race/ethnicity'].value_counts().index[0]

'group C'

In [8]:
students_data['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [9]:
students_data[students_data['test preparation course'] != 'none']['reading score'].mean()

73.89385474860335

In [10]:
# Сколько студентов получили 0 баллов по математике?
students_data[students_data['math score'] == 0].shape[0]

1

In [11]:
students_data['lunch'].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [12]:
students_data[students_data['lunch'] == 'standard']['math score'].mean()

70.03410852713178

In [13]:
students_data[students_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

In [14]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
students_data['parental level of education'].value_counts(normalize=1)['bachelor\'s degree']

0.118

In [15]:
students_data[students_data['race/ethnicity'] == 'group A']['writing score'].median()

62.0

In [16]:
students_data[students_data['race/ethnicity'] == 'group C']['writing score'].median()

68.0

In [17]:
students_data.describe(include=['object'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [18]:
students_data.describe(include=['object']).loc['top', 'race/ethnicity']

'group C'